@import url(https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;700&display=swap);


* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Mali;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0 !important;
}

body {
    background-color: var(--primary-color-0) !important;
    width: 100vw;
    position: 'relative';
    overflow-x: hidden;
}

.limit-w {
    max-width: 1440px;
}

.init-bg {
    background-color: var(--primary-color-0);
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.format-content {
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem;
    line-height: 1.6rem;
    text-align: justify;
}

.max-line-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.max-line-2 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    /* number of lines to show */
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.max-line-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.max-line-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.max-line-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.color-0 {
    color: var(--primary-color-0) !important;
}

.color-1 {
    color: var(--primary-color-1) !important;
}

.color-2 {
    color: var(--primary-color-2) !important;
}

.color-3 {
    color: var(--primary-color-3) !important;
}

.color-4 {
    color: var(--primary-color-4) !important;
}

.color-5 {
    color: var(--primary-color-5) !important;
}

.color-6 {
    color: var(--primary-color-6) !important;
}

.color-7 {
    color: var(--primary-color-7) !important;
}

.color-8 {
    color: var(--primary-color-8) !important;
}

.color-9 {
    color: var(--primary-color-9) !important;
}

@media (max-width: 32em) {
    * {
        font-size: 14px;
    }

}

.carousel-inner {
    display: flex !important;

}

.carousel-item {
    padding: 32px;
    display: block !important;
    margin-right: 0 !important;
}


.carousel-control-next-icon {
    position: relative;
    right: -50%;
}

.carousel-control-prev-icon {
    position: relative;
    right: 50%;
}





/* x small */
@media screen and (max-width:576px) {
    .carousel-inner {
        width: 75% !important;
        margin: 0 auto !important;
    }

    .carousel-item {
        flex: 0 0 100%;
    }

    .carousel-control-next-icon {
        right: -0rem;
    }

    .carousel-control-prev-icon {
        right: 0rem;
    }
}

/* small */
@media screen and (min-width:576px) {

    .carousel-item {
        flex: 0 0 33.33%;
    }

}

/* medium */
@media screen and (min-width:576px) and (max-width:767px) {
    .carousel-item {
        flex: 0 0 50%;
    }

}