@import url(https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;700&display=swap);


/* :root {} */

* {
    box-sizing: border-box;
    font-size: 18px;
}

html {}

body {
    background-color: var(--primary-color-0) !important;
    width: 100vw;
    position: 'relative';
    overflow-x: hidden;
}

.limit-w {
    max-width: 1440px;
}

.init-bg {
    background-color: var(--default-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.format-content {
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    line-height: 1.6rem;
    text-align: justify;
}

/* img {
    borderRadius: 8px !important;
} */

@media (max-width: 32em) {
    html {
        font-size: 14px;
    }

}